:root{
  --teal: #6BBAA7;
  --purple: #6C648B;
  --off-grey: #B6A19E;
  --off-yellow: #FBA100;
}

.App {
}

.top-nav-link {
  padding-top: 10px;
  padding-right: 15px;
}

.github-logo {
  height: 30px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.is-teal-text {
  color: var(--teal);
}

.navbar {
  background-color: var(--purple) !important;
}

.hero-foot {
  background-color: var(--purple) !important;
}

.hero-foot li a {
  color: var(--off-grey);
}

.hero-foot li.is-active a {
  color: var(--purple);
}

.is-deep-yellow {
  color: var(--off-yellow);
}

.is-white {
  color: white;
}

.bg-img { 
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
 }

 #About {
    background-image: url(about.png) ;
 }

 #Projects{
  background-image: url(presentation.png);
 }
