/*
  Jordan Stapinski (jstapins)
  Personal Portfolio
  App.css

  Defines additional styling on top of Bulma CSS to be used.
*/

/* Defining global color options as variables */
:root{
  --teal: #1ED2F4;
  --snow-white: #F4F5F6;
  --off-grey: #B6A19E;
  --off-yellow: #FBA100;
}

/* Defining the overall font family as Avenir */
.App {
  font-family: 'Avenir';
}

/* Provide some breathing room between the dropdown and content in coursework */
.select {
  margin-bottom: 50px;
}

/*
  Force the card content to take the entire width of the card,
  and give some space.
*/
.card {
  margin-right: 1%;
  margin-left: 1%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.image.is-square img:hover {
  opacity: 0.6 !important;
}

.card-image:hover {
  opacity: 0.6 !important;
}

/* Give cards and their images a shadow for a better sense of realism */
.card, .card-image{
  box-shadow: 3px 3px 2px #222222;
}

/* Align card text to the center and reduce padding */
.card-content {
  text-align: center;
  padding: 1rem;
}

/* Remove bottom padding on card content and individual columns */
.bottomless {
  padding-bottom: 0;
}

/* Remove bottom from project name in modal */
.pname {
  margin-bottom: 0 !important;
}

.post-card {
  margin-bottom: 10px !important;
}

/* Remove the grey background from the popup modals */
.modal-background {
  background-color: transparent !important;
}

/* Define a somewhat opaque image */
.semi-opaque {
  opacity: 0.4;
}

/* Position the modal card at certain points within the container */
.modal-card {
  position: absolute !important;
  left: 29.5%;
  top: 15%;
}

/* Change the animation of opening the modal */
.modal {
  -webkit-animation-duration: 0.5s;
}

.not-on-mobile {
  display: none !important;
}

.only-on-mobile {
  display: unset !important;
}

/* Specific positioning for leftmost modals */
.mc-0, .mc-1, .mc-2, .mc-3 {
  left: 2%;
  top: 15%;
  width: 90%;
  height: 80%;
}

.navbar-end {
  float: right;
  padding-top: 1.5%;
}

.navbar-start {
  display: inline-block;
  width: 60%;
  padding-left: 3%;
  padding-top: 1%;
}

/* Make modal cards large and almost full-container */
.wide {
  left: 2%;
  width: 100% !important;
}

.tall {
  height: 70%;
}

li.is-active {
  background-color: var(--teal);
}

.menu-list li.is-active a {
  color: var(--snow-white);
}

@media screen and (min-width: 801px) {

  /* Specific positioning for leftmost modals */
  .mc-0 {
    left: 0%;
    top: 15%;
    width: 60%;
  }

  /* Specific positioning for second-column modals */
  .mc-1 {
    left: 25.5%;
    top: 15%;
    width: 60%;
  }

  /* Specific positioning for third-column modals */
  .mc-2 {
    left: 15%;
    top: 15%;
    width: 60%;
  }

  /* Specific positioning for final-column modals */
  .mc-3 {
    left: 40.5%;
    top: 15%;
    width: 60%;
  }

  .not-on-mobile {
    display: unset !important;
  }

  .only-on-mobile {
    display: none !important;
  }

  .navbar-end {
    display: unset;
    float: unset;
  }

  .navbar-start {
    display: unset;
    width: unset;
    padding-left: unset;
    padding-top: unset;
  }

  .tall {
    left: 2%;
    height: 70%;
  }
}

/* Moving modals to take more screen space */
.full {
  margin-top: -20%;
}

/* Move the navbar name text away from the top */
.top-nav-link {
  padding-top: 10px;
  padding-right: 15px;
}

/* Make the logos for github, linkedin, and email uniform */
.github-logo {
  height: 30px;
}

/* Make text teal in color */
.is-teal-text {
  color: var(--teal);
}

/* Change the navbar to be snow-white and sticky in front of content */
.navbar {
  background-color: var(--snow-white) !important;
  position: fixed !important; top: 0; left: 0; right: 0; 
  z-index: 10;
}

/* Put some space between the top bar and body content */
.hero-head {
  margin-top: 30px;
}

/* Change the footer to be black */
.hero-foot {
  background-color: black !important;
}

/* Change the footer elements to be grey when not selected */
.hero-foot li a {
  color: var(--snow-white);
}

/* Change the active text on the footer to be snow-white */
.hero-foot li.is-active a {
  color: black;
}

/* Make text yellow */
.is-snow-white {
  color: var(--snow-white);
}

/* Make text white */
.is-white {
  color: white;
}

/* Place a background image that can be written over */
.bg-img { 
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
 }

.is-rounded {
  border-radius: 50%;
  text-align: center
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

/*
  Below switches background images based on which state the site is in
  (About, Projects, etc.)
*/
 #About {
  background-image: url(experience.png) ;
 }

 #Projects{
  background-image: url(presentation.png);
 }

 #Professional\ Experience{
  background-image: url(about.png);
 }

 #Coursework{
  background-image: url(coursework.png);
 }
