/*
  Jordan Stapinski (jstapins)
  CMU PUI A6 - Project Portfolio
  App.css

  Defines additional styling on top of Bulma CSS to be used.
*/

:root{
  --teal: #6BBAA7;
  --purple: #6C648B;
  --off-grey: #B6A19E;
  --off-yellow: #FBA100;
}

.App {
  font-family: 'Avenir';
}

/*
  Force the card content to take the entire width of the card,
  and give some space.
*/
.card {
  margin-right: 1%;
  margin-left: 1%;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.card, .card-image{
  box-shadow: 3px 3px 2px #222222;
}

.card-content {
  text-align: center;
  padding: 1rem;
}

.bottomless {
  padding-bottom: 0;
}

.pname {
  margin-bottom: 0 !important;
}

.modal-background {
  background-color: transparent !important;
}

.semi-opaque {
  opacity: 0.4;
}

.modal-card {
  position: absolute !important;
  left: 29.5%; /*8*/
  top: 15%;
}

.mc-0 {
  left: 8%;
  top: 15%;
}

.mc-1 {
  left: 29.5%;
  top: 15%;
}

.full {
  margin-top: -20%;
}

.top-nav-link {
  padding-top: 10px;
  padding-right: 15px;
}

.github-logo {
  height: 30px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.is-teal-text {
  color: var(--teal);
}

.navbar {
  background-color: var(--purple) !important;
  position: fixed !important; top: 0; left: 0; right: 0; 
  z-index: 10;
}

.wide {
  left: 80px;
  width: 1000px;
}

.hero-head {
  margin-top: 10px;
}

.hero-foot {
  background-color: black !important;
}

.hero-foot li a {
  color: var(--off-grey);
}

.hero-foot li.is-active a {
  color: var(--purple);
}

.is-deep-yellow {
  color: var(--off-yellow);
}

.is-white {
  color: white;
}

.bg-img { 
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
 }

/*
  Below switches background images based on which state the site is in
  (About, Projects, etc.)
*/
 #About {
  background-image: url(experience.png) ;
 }

 #Projects{
  background-image: url(presentation.png);
 }

 #Professional\ Experience{
  background-image: url(about.png);
 }

 #Coursework{
  background-image: url(coursework.png);
 }

.hero-body {
  flex: 1;
 }
